# [Demo]({{ repository }}/blob/draft/{{ project_name }}.pdf)

[![LaTeX](https://github.com/tschm/pack3/actions/workflows/latex.yml/badge.svg)](https://github.com/tschm/pack3/actions/workflows/latex.yml)
[![Created with Cradle](https://img.shields.io/badge/Created%20with-Cradle-blue?style=flat-square)](https://github.com/cvxgrp/cradle)

Remove or update the arxiv link

[![arXiv](https://img.shields.io/badge/arXiv-2305.19484-b31b1b.svg)](https://arxiv.org/abs/2305.19484)

## Link to a companion Python package

Please correct the link as you wish

Companion [Python package](https://github.com/{{ username }})

## Abstract

Include an abstract here...

## About this repo

We have a [workflow]({{ repository }}/.github/workflows/latex.yml) 
compiling the LaTeX document(s) in [paper](paper). For that step we are
using [tectonic](https://github.com/tectonic-typesetting/tectonic).
The resulting pdf documents are released
to the [draft branch]({{ repository }}/tree/draft)
of the repo.
