# [Demo]({{ repository }}/blob/draft/main1.pdf)

Remove or replace the arxiv link

[![arXiv](https://img.shields.io/badge/arXiv-2305.19484-b31b1b.svg)](https://arxiv.org/abs/2305.19484)

## Link to a companion Python package

Please correct the link as you wish

Companion [Python package](https://github.com/{{ username }})

## Abstract

{{ description }}

## About this repo

We have a [workflow](template/.github/workflows/latex.yml) compiling the LaTeX document(s)
in [paper](paper). For that step we are using [tectonic](https://github.com/tectonic-typesetting/tectonic).
The resulting pdf documents are released
to the [draft branch]({{ repository }}/tree/draft) of the repo.

## Hint

Play with

```bash
make
```
