name: Build LaTeX document

on:
  push

permissions:
  contents: write

jobs:
  build_paper:
    runs-on: ubuntu-latest

    steps:
      - uses: cvxgrp/.github/actions/latex@v2.0.3
        with:
          paper: paper/{{ project_name }}.tex
          GITHUB_TOKEN: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
          draft: draft

      # add or remove papers here
